@font-face {
    src: url("fonts/Poppins-Regular.ttf"),
}

.root{
     -fx-background-color: linear-gradient(to top right,#752e65, #44008b);
     -fx-background-radius: 5;
     -fx-border-radius: 5;
}
.container{
    -fx-background-color:  #fff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
.menu{
    -fx-padding: 0;
}
.menu-item{
 -fx-background-color: transparent;
 -fx-background-radius: 30;
 -fx-padding: 0 0 0 10;
 -fx-background-insets: 0;
 -fx-text-fill: #fff;
 -fx-font-weight: bold;
 -fx-font-family: "Poppins";
}
.menu-item:hover,
.menu-item:focused{
 -fx-background-color: #c6a1d6;
}
/* search box */
.search-box{
    -fx-background-color:   #44008b;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-effect: dropshadow(three-pass-box, #8c7ae6, 15, 0, 0, 2) ;
}
.search-field{
  -fx-background-color: transparent;
  -fx-text-fill: #d1d8e0;
  -fx-font-family: "Poppins";
  -fx-font-weight: bold;
  -fx-font-size: 13;
  -fx-border: none ;
}
.search-field:pressed > .search-box{
   -fx-background-color: white;
}
.cancel-button{
    -fx-background-color: transparent;
    -fx-text-fill: #2b2b2b;
    -fx-cursor: hand;
}
/* explanation */
.definition-wrapper{
    -fx-border-width: 1.5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, #4f2258, 4, 0, 0, 1.5) ;
}
.explanation-field{
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 0;
    -fx-text-fill: #9f45b0;
    -fx-font-size: 16px;
}
.explanation-menu{
    -fx-border-color: #966FBD;
    -fx-border-width: 0 0 2 0;
}
.edit-button, .delete-button,
.volume-button{
    -fx-padding:0;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: #f8f8f8;
    -fx-border: none;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(three-pass-box, #718093, 2, 0, 0, 1) ;
}
.edit-button:hover, .delete-button:hover,
.volume-button:hover{
    -fx-background-color: #edeff1;
    -fx-effect: dropshadow(three-pass-box, #2b2b2b, 3, 0, 0, 1) ;
}
.edit-button:pressed, .delete-button:pressed,
.volume-button:pressed{
    -fx-effect: dropshadow(three-pass-box, #4f2258, 4, 0, 0, 1) ;
}
.save-button{
    -fx-background-color: #e1efdb;
    -fx-padding:0;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-text-fill: #9f45b0;
    -fx-font-weight: bold;
    -fx-background-insets: 0;
}
.save-button:hover{
    -fx-background-color:  #4a7b35;
}
.save-button:pressed{
    -fx-background-color: #e1efdb;
}
/*title*/
.title{
     -fx-background-color:   #44008b;
     -fx-effect: dropshadow(three-pass-box, #8c7ae6, 10, 0, 0, 0);
     -fx-background-radius: 5;
     -fx-border-radius: 5;
}

/* Styling list-cell */
.list-cell{
    -fx-text-fill: #9f45b0;
    -fx-font-size: 16;
    -fx-font-weight: 700;
    -fx-padding: 5;
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
     -fx-background-radius: 5;
     -fx-border-radius: 5;
}
.list-cell:even, .list-cell:odd{
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}
.list-cell:even{
     -fx-background-color: #f5f6fa;
}
.list-cell:odd {
    -fx-background-color: #eff0fb;
}
.list-cell:filled:hover,
.list-cell:filled:selected{
    -fx-background-color: linear-gradient(to bottom left, #44008b, #9f45b0);
    -fx-text-fill: white;
}
/* Styling scroll-bar */
.list-cell .scroll-bar:horizontal .track,
.list-cell .scroll-bar:vertical .track ,
.explanation-field .scroll-bar:horizontal .track,
.explanation-field .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}
.list-cell .scroll-bar:vertical .increment-button ,
.list-cell .scroll-bar:vertical .decrement-button ,
.explanation-field .scroll-bar:vertical .increment-button ,
.explanation-field .scroll-bar:vertical .decrement-button{
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.list-cell .scroll-bar:horizontal .increment-button ,
.list-cell .scroll-bar:horizontal .decrement-button ,
.explanation-field .scroll-bar:horizontal .increment-button ,
.explanation-field .scroll-bar:horizontal .decrement-button{
    -fx-background-color:transparent;
   	-fx-background-radius: 0em;
   	-fx-padding:0 0 10 0;
}

.list-cell .scroll-bar .increment-arrow,
.list-cell .scroll-bar .decrement-arrow,
.explanation-field .scroll-bar .increment-arrow,
.explanation-field .scroll-bar .decrement-arrow
 {
	-fx-padding:0;
}
.list-cell .scroll-bar:vertical .thumb,
.list-cell .scroll-bar:horizontal .thumb,
.explanation-field .scroll-bar:vertical .thumb,
.explanation-field .scroll-bar:horizontal .thumb{
    -fx-background-color: #BFB1CD;
   	-fx-background-insets: 2, 0, 0;
   	-fx-background-radius: 2em;
}
/* styling add new word component */
.english-word-input,
.meaning-input{
    -fx-text-fill: #9f45b0;
    -fx-border-color: #966FBD;
    -fx-font-size: 14px;
    -fx-border-width: 1.5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
.add-button{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
    -fx-text-fill: #ecf0f1;
    -fx-background-radius: 5px;
    -fx-font-size: 13px;
    -fx-font-weight: 700;
    -fx-background-color: linear-gradient(to bottom left, #44008b, #9f45b0);
    -fx-pref-width: 100px;
    -fx-pref-height: 30px;
}
.trans-button{
    -fx-text-fill: #ecf0f1;
    -fx-background-radius: 5px;
    -fx-font-size: 13px;
    -fx-font-weight: 700;
    -fx-background-color: linear-gradient(to bottom left, #44008b, #9f45b0);
    -fx-pref-width: 100px;
    -fx-pref-height: 25px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
}
.add-button:pressed, .trans-button:pressed{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

/* alert */
.success-alert{
    -fx-font-size: 14px;
    -fx-text-fill: #009432;
    -fx-background-color:  #CAF7D8;
     -fx-background-radius: 5;
     -fx-border-radius: 5;
}
.warning-alert{
    -fx-font-size: 12px;
    -fx-text-fill: #c41b1b;
    -fx-background-color:  #F8DADA;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
}
/* translate component */
.header-translate{
    -fx-border-color:  #966FBD;
    -fx-border-width: 1.5;
    -fx-background-radius: 7 7 0 0;
    -fx-border-radius: 7 7 0 0;
}
.src-speech-field,.to-speech-field{
    -fx-text-fill: #9f45b0;
    -fx-border-color: #966FBD;
    -fx-font-size: 18px;
    -fx-border-width: 1.5;
}
.src-speech-field{
    -fx-background-radius: 0 0 0 7;
    -fx-border-radius: 0 0 0 7;
}
.to-speech-field{
    -fx-background-radius: 0 0 7 0;
    -fx-border-radius: 0 0 7 0;
}
.switch-button{
    -fx-background-color: transparent;
}
.switch-button:pressed{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-background-color: #dfe6e9;
}

.exit-button{
     -fx-background-color: transparent;
     -fx-background-radius: 30;
     -fx-background-insets: 0;
     -fx-text-fill: #fff;
     -fx-font-weight: bold;
     -fx-font-family: "Poppins";
}
.exit-button:hover{
     -fx-background-color: #b22a00;
}